body{
    color: blueviolet;
    background: rgb(134,154,255);
background: radial-gradient(circle, rgba(134,154,255,1) 23%, rgba(63,94,251,1) 100%);
text-align: center;
}
button{
    border-radius: 20px;
    font-size: 18px;
    padding: 7px;
    background-color: blueviolet;
    color: white;
}
canvas{
    border: 2px double black;
}